*{
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/**navebar starts here**/
/**box 1**/
.navbar{
    height: 75px;
    display: flex;
    background-color: #34bbf5;
    color: rgb(12, 0, 0);
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo{
    height: 50px;
    width: 100px;
     display: flex;
    justify-content: center;
    align-items: center; 
}

.logo{
    background-image: url("everstyle.png");
    height: 33px;
    width: 110px;
     background-size: cover;
}

.border{
    border: 2px solid transparent
}

.border:hover{
    border: 2px solid white;
}

/**box 2**/

.loco-first{
    color: rgb(252, 246, 250);
    font-size: 0.9rem;
    font-weight: 500;
}

.loco-sec{
    color:rgb(252, 246, 250);
    font-size: 1.1rem;
    margin-left: 3px;
    font-weight: 400;
}

.loco-icon{
    display: flex;
    align-items: center;
}

/**box 3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    width: 600px;
    height: 35px;
    border-radius: 4px;
    margin-left: 10px;
}

.search-select{
    background-color: rgb(59, 102, 244);
    width: 50px;
    text-align: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(59, 102, 244);
    color: black;

}

.nav-search:hover{
    border: 2px solid olive;
}

/*box 4*/
.nav-country {
    display: flex;
    /* justify-content: space-evenly; */
    height: 35px;
    width: 50px;
    color: aliceblue;
    border-radius: 6px;
}

.country-select {
    background-color: rgb(59, 102, 244);
    width: 100%;
    color: aliceblue;
    border-radius: 6px;
}

/*box 5 & 6*/
span{
    font-size: 0.7rem;
    font-weight: 600;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/*box 7*/
.nav-cart i{
     font-size: 35px; 
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}


 hr {
     border: none;
     border-top: 6px double #1302fa;
    color: #333;
     overflow: visible;
    text-align: center;
    height: 5px;
  }


