
body{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 800px;
    height: 800px;
}
.sign-in{
    background-color: aqua;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

button{
    background-color: palevioletred;
    color: black;
}