body {
  background-color: rgb(247 195 255);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.sign-in {
  padding: 0px 40px 0px 40px;
  background-color: rgb(251 251 251);
  height: 350px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

button {
  background-color: palevioletred;
  color: black;
}

.sign-in a {
  display: flex;
  justify-content: right;
  color: rgba(0, 183, 255, 0.696);
}
